
.carousel-row {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 40px auto;
  padding: 20px;
  width: 90%;
  
  border-radius: 15px;
}


.wholepage {
 background-color: transparent;
  background-repeat: no-repeat;
  width: 1000px;
  margin: 0 auto;
}



.fade-text-box {
  width: 350px;
  background: linear-gradient(
    120deg,
    #3B1F1A,
    #5A3A22,
    #3B1F1A
    
  );
  background-size: 300% 300%;
  animation: gradientMove 6s ease-in-out infinite;

  padding: 20px 30px;
  border-radius: 15px;
  border: 3px solid rgba(255,255,255,0.15);
  box-shadow: 0 0 25px rgba(0,0,0,0.4);
  color: white;
  font-size: 1.3rem;
  line-height: 1.7;
}


@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}



.mySwiper {
  width: 70vh;   /* PC size */
  height: 70vh;
  
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.45);
}

.mySwiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.bodypage {
  background-color: var(--lemonyellow);
  background-image: url("../images/bgg.png");
  background-position: center;
  background-repeat: repeat;
  background-size: 250px;
}





@media (max-width: 1024px) {   

  .wholepage {
    width: 90%;
  }

  .carousel-row {
    width: 95%;
    gap: 25px;
  }

  .fade-text-box {
    width: 300px;
    font-size: 1.2rem;
  }

  .mySwiper {
    width: 60vw;
    height: 55vh;
  }
}




@media (max-width: 768px) {

  
  .carousel-row {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 20px auto;
    padding: 15px;
  }

  .mySwiper {
    width: 60vw;
    height: 45vh;
  }

  .fade-text-box {
    width: 80%;
    font-size: 1rem;
    padding: 15px 20px;
  }
}




@media (max-width: 480px) {

  .carousel-row {
    gap: 15px;
    padding: 10px;
  }

  .mySwiper {
    width: 65vw;
    height: 40vh;
    border:5px;
  }

  .fade-text-box {
    width: 90%;
    font-size: 0.95rem;
    padding: 12px 18px;
  }
}


