

.game-page {
  min-height: 90vh;
  padding-top: 60px;
  padding-bottom: 80px;
  background-image: url("../images/nav4.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
   width: 1000vw;
 

  color: #f5e6d3;
}



.game-header {
  text-align: center;
  margin-bottom: 30px;
  background-color: #6B3A2B;
  border-radius: 30px;
  padding: 10px;
  width: 600px;
}

.game-header h1 {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 6px;
  color:  #F2E8D5;
  margin: auto;
  
}
.game-description{
  margin:20px;
  padding: 10px;
  border-radius: 30px;
background-color:#6B3A2B;


}
.game-header h3 {
  
  opacity: 0.8;
 color:  #F2E8D5;
}



.game-box {
  width: 100%;
  max-width: 1300px;
  height: 650px;             
  border: 10px solid #6B3A2B;

  border-radius: 20px;
  overflow: hidden;


}


.game-iframe {
  width: 100vw;
  height: 100%;
  border: none;
  overflow: hidden;
}



.game-footer {
  width: 400px;
  border-radius: 30px;
  background-color: #6B3A2B;
  margin-top: 26px;
 
  font-size: 0.9rem;
}
.game-footer h3{

  color: #F2E8D5;
}



@media (max-width: 900px) {
  .game-header h1 {
    font-size: 2.2rem;
  }

  .game-box {
    width: 95%;
    height: 80vh;           
    border-radius: 14px;
  }
}

@media (max-width: 480px) {
  .game-box {
    height: 85vh;            
  }
}




.bill-wrapper {
  
  text-align: center;
}

.bill-img {
  width: 140px;
  cursor: pointer;
  transition: transform 0.2s ease, filter 0.2s ease;
}

.bill-img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 26px rgba(223, 107, 24, 0.95));
}


