@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');


.login-body {
  margin: 0;
  overflow: hidden;
  font-family: 'Cinzel', serif;
  background: transparent;
}



.login-container {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}


.login-card {
  z-index: 1;
  width: 420px;
  padding: 40px;
  margin-bottom: 150px;
  background: linear-gradient(#3b1f12, #1e0f08);
  border: 2px solid #6C3A1A;
  border-radius: 14px;
  box-shadow: 0 0 40px rgba(0,0,0,0.9);
  text-align: center;
  color: #EED9B7;
}


.login-card h2 {
  font-size: 2.2rem;
  letter-spacing: 3px;
  color: #FFD27D;
}

.login-card p {
  opacity: 0.8;
}


.input-group {
  position: relative;
  margin-top: 30px;
}

.input-group input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #A97142;
  color: #EED9B7;
  padding: 10px 0;
  font-size: 1rem;
}

.input-group input:focus {
  outline: none;
  border-color: #FFD27D;
}

.input-group label {
  position: absolute;
  top: -18px;
  left: 0;
  font-size: 0.85rem;
  color: #A97142;
}


.remember-forgot {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}


.login-btn {
  width: 100%;
  margin-top: 30px;
  padding: 14px;
  background: #6C3A1A;
  color: #EED9B7;
  border: 2px solid #A97142;
  border-radius: 6px;
  font-size: 1.1rem;
  letter-spacing: 3px;
  cursor: pointer;
  transition: 0.25s;
}

.login-btn:hover {
  background: #A97142;
}


.red-link {
  color: #FFD27D;
  text-decoration: none;
}

.red-link:hover {
  color: white;
}

/* ERROR */
.error-msg {
  margin-top: 15px;
  color: #ff7777;
}


.signup-link {
  margin-top: 25px;
}





.embers {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -5;
}

.embers::before,
.embers::after {
  content: "";
  position: absolute;
  inset: 0;
  background-repeat: repeat;
  background-size: 220px 220px;
  animation: emberFloat 38s linear infinite;
  opacity: 0.4;
}

.embers::before {
  background-image:
    radial-gradient(circle, rgba(255, 255, 255, 0.6) 3px, transparent 3px),
    radial-gradient(circle, rgba(219, 217, 216, 0.5) 2.5px, transparent 3px),
    radial-gradient(circle, rgba(246, 246, 246, 0.4) 2px, transparent 2px);
}

.embers::after {
  background-size: 300px 300px;
  animation-duration: 60s;
  opacity: 0.25;
}